<?php session_start(); ?>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>BBS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- 用PHP常量定义 引入样式文件 -->
	<!-- 导入最新的 -->
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC;?>/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC;?>/css/style.css">
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC;?>/css/bootstrapValidator.css">
  	<script type="text/javascript" src="<?php echo DIR_PUBLIC;?>/js/jquery.min.js"></script>
	<script type="text/javascript" src="<?php echo DIR_PUBLIC;?>/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<?php echo DIR_PUBLIC;?>/js/bootstrapValidator.min.js"></script>
	<link rel="stylesheet" href="<?php echo DIR_PUBLIC;?>/css/font-awesome.min.css">
</head>
<body>
	<?php 
		include 'top.htm';
	?>
</body>
</html>